# Parámetros dinámicos de acceso a servicios
Server=http://localhost:8080
#Server=http://sacvefor.test.bosquesnativos.net.ar
ServerServicios=http://localhost:8080
#ServerServicios=http://localhost:8280
UrlTerritorial=/gestionTerritorial/rest

# Usuario de acceso a API's REST de Territorial y tiempo de vigencia del token
UsRestTerr=sacvefor
TimeToken=3600000

